.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.main-menu li {
  display: inline-block;
}

.item-list li:not(:last-child) {
  margin-right: 1rem;
}

.drone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 4rem;
}

.drone-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.drone-control button {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: var(--secondary);
  color: var(--text-color);
  cursor: pointer;
}

.drone-control button:hover {
  background-color: var(--accent-1);
  color: var(--primary);
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--accent-2);
  padding: 0px 10px;
  z-index: 1;
}

.drone-screen {
  border: 1rem solid var(--primary);
  background-color: var(--text-color);
}

.drone-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.drone-action button {
  width: 325px;
  height: 48px;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--text-color);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--accent-1);
}

a:hover {
  color: var(--accent-2);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
